@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');


.how-to-math {
    text-align: center;

}

.how-to-math h1 {
    font-size: 50px;
}

.how-to-math h2 {
    font-family: "Lexend", serif;
    font-size: 30px;
    color: #916c51;
}