/* src/components/games/HowToMath/HowToMath.css */

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.how-to-math {
    position: relative;
    width: 100%;
    max-width: 940px; /* Adjust as needed */
    margin: 40px auto;
    text-align: center;
}

.how-to-math h1 {
    font-size: 50px;
}

.how-to-math h2 {
    font-family: "Lexend", serif;
    font-size: 30px;
    color: #916c51;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.game-container {
    position: relative;
    width: 100%;
    max-width: 640px; /* Adjust as needed */
    height: 480px; /* Adjust for aspect ratio */
    margin: 0 auto;
    overflow: hidden; /* Hide content outside the container */
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
