@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.game-container {
    position: relative;
    width: 50%;
    max-width: 100vw; /* Adjust as needed */
    margin: auto auto;
    /* Maintain aspect ratio (e.g., 16:9) */
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
}


.how-to-math {
    position: relative;
    width: 100%;
    max-width: 100vw; /* Adjust as needed */
    margin: 40px auto;
    /* Maintain aspect ratio (e.g., 16:9) */
    text-align: center;
}

.how-to-math h1 {
    font-size: 50px;
}

.how-to-math h2 {
    font-family: "Lexend", serif;
    font-size: 30px;
    color: #916c51;
}