@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

.results {
    background: white;

    background-size: 660px 500px;

    position: absolute;
    width: 660px;
    height: 500px;

}

.results p {
    font-family: 'Yomogi', serif;
    font-size: 20px;
    font-weight: bold;
}